body{
    background-color: #000;

}
ul{list-style: none;margin: 0;padding: 0}
li{margin: 0;padding: 0;}
#ul{
    margin:150px auto;
    position: relative;
    width: 150px;
    perspective: 6000px;
    transform-style: preserve-3D;
    transform: rotateY(0deg) rotateX(-8deg);
}
#ul img{
    position: absolute;
    top: 0;left:0;
    width: 150px;height:200px;
    transition: transform 5s linear;
    border-radius: 6px;
    box-shadow: 0px 0px 10px #fff;
    -webkit-box-reflect: below 5px -webkit-linear-gradient(top,rgba(0,0,0,0) 40%,rgba(100,100,100,0.5) 100%);
}
#dialog{
    position:fixed;
    top:0px;bottom:0px;left:0px;right:0px;
    opacity: 0;
    z-index: 1000;
}